[submodule "src/asl_turtlebot"]
	path = src/asl_turtlebot
	url = git@github.com:StanfordASL/asl_turtlebot.git
[submodule "src/velodyne"]
	path = src/velodyne
	url = git@github.com:ros-drivers/velodyne.git
[submodule "src/turtlebot3_msgs"]
	path = src/turtlebot3_msgs
	url = git@github.com:ROBOTIS-GIT/turtlebot3_msgs.git
[submodule "src/turtlebot3"]
	path = src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3
